body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    margin: 0;
    height: 655px;
}
.navbar {
    background-color: #3B1E0A;
    color: white;
    padding: 10px;
    display: flex;
    text-align: center;
    border: none;
}
.navbar h1, h2 {
    margin: 5px 0px;
    display: flex;
    position: relative;
}
.navbar h1 {
    margin-left: 50px;
    top: 15px;
}
.navbar h2 {
    display: inline;
    position: relative;
    left: 1075px;
    bottom: 23px;
}
.searchbar {
    display: block;
    text-align: center;
    gap: 15px;
    margin: 20px;
    border: none;
}
.searchbar input {
    padding: 5px;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    background-color: #E0DFD8;
}
.information {
    color: #2B1511;
    margin: 0;
    height: 485px;
}
.menu {
    width: 230px;
    height: 200px;
    display: flex;
    margin-left: 60px;
    flex-direction: column; 
    background-color: #E0DFD8;
    color: #2B1511;
    gap: 15px
}
.menu-details {
    margin-top: 150px;
    margin-left: 80px;
    position: relative;
}
.ingredients {
    width: 230px;
    height: 200px;
    display: flex;
    position: relative;
    bottom: 200px;
    margin-left: 380px;
    flex-direction: column; 
    background-color: #E0DFD8;
    color: #2B1511;
    gap: 15px
}
.ingredients-details {
    margin-top: 150px;
    margin-left: 50px;
    position: relative;
}
.members { 
    width: 230px;
    height: 200px;
    display: flex;
    position: relative;
    bottom: 400px;
    margin-left: 700px;
    flex-direction: column; 
    background-color: #E0DFD8;
    color: #2B1511;
    gap: 15px
}
.members-details {
    margin-top: 150px;
    margin-left: 45px;
    position: relative;
}
.rewards {
    width: 230px;
    height: 200px;
    display: flex;
    position: relative;
    bottom: 600px;
    margin-left: 1025px;
    flex-direction: column; 
    background-color: #E0DFD8;
    color: #2B1511;
    gap: 15px
}
.rewards-details {
    margin-top: 150px;
    margin-left: 70px;
    position: relative;
}
.sales {
    width: 480px;
    height: 250px;
    display: flex;
    position: relative;
    bottom: 580px;
    margin-left: 100px;
    flex-direction: column; 
    background-color: #E0DFD8;
    color: #2B1511;
    gap: 15px
}
.sales-details {
    position: relative;
    margin-left: 180px;
}
#today {
    margin-top: 80px;
}
.transactions {
    width: 480px;
    height: 250px;
    display: flex;
    position: relative;
    bottom: 832px;
    margin-left: 730px;
    flex-direction: column; 
    background-color: #E0DFD8;
    color: #2B1511;
    gap: 15px
}
.transaction-details {
    position: relative;
}
.transaction-details h3 {
    position: relative;
    bottom: 5px;
    margin-left: 210px;
}
table {
    margin-left: 90px;
    margin-top: 30px;
}
th {
    padding: 20px;
}